### Hi there <img src="https://media.giphy.com/media/hvRJCLFzcasrR4ia7z/giphy.gif" width="25px"> - I'm {{name}} ({{age}} y.o)

I'm currently studying Computer Science at [**h_da**](https://h-da.de/) University of Applied Sciences in Darmstadt, Germany.
My main interests are currently in the areas of infrastructure, networking and IT Automation. Thus currently taking a break from
coding, as I have overdone it lately.

<table style="border-collapse: collapse">
  <tr>
    <td>
      <h4>⚡ Quick Facts | Resources</h4>
      <ul>
        <li>🔭 I’m currently working on expanding my homelab</li>
        <li>🤔 I’m looking for help with planning my infrastructure</li>
        <li>👨‍💻 I’m very intrested in a lot of things regarding Computer Science, somewhat nerdy</li>
        <li>🔑 GPG Key: <a href="https://github.com/blackphantom39.gpg"><code>4029C20815EFA296</code></a></li>
      </ul>
    </td>
    <td>
      <img alt="Coding Gif" src="resources/img/profile.gif"/>
    </td>
  </tr>
</table>

[![forthebadge](https://forthebadge.com/images/badges/powered-by-coffee.svg)](https://forthebadge.com)

#### 📝 Currently learning the following

{{#badges.learning}}
{{& badge}}
{{/badges.learning}}

#### 📃 Technologies used and planning to learn

##### ✔️ Tech Stack | Programs | Languages | etc. 

<details>
<summary style="font-size: 0.75em; padding-bottom 1em">🖥️ Operating Systems</summary>

{{#badges.os}}
  - {{& badge}}
{{/badges.os}}

</details>

<details>
<summary style="font-size: 0.75em">🧰 IDEs, Automation and other Programs</summary>

{{#badges.toolsPrograms}}
  - {{& badge}}
{{/badges.toolsPrograms}}

</details>

<details>
<summary style="font-size: 0.75em">📚 Frameworks, Platforms and Libraries</summary>

{{#badges.libs}}
  - {{& badge}}
{{/badges.libs}}

</details>

<details>
<summary style="font-size: 0.75em">💾 Languages</summary>

{{#badges.languages}}
  - {{& badge}}
{{/badges.languages}}

</details>


##### 🤔 Things I am planning to learn

<details>
<summary style="font-size: 0.75em">📚 Frameworks, Platforms and Libraries</summary>

{{#badges.libs_planned}}
  - {{& badge}}
{{/badges.libs_planned}}

</details>

<details>
<summary style="font-size: 0.75em">💾 Languages</summary>

{{#badges.languages_planned}}
  - {{& badge}}
{{/badges.languages_planned}}

</details>

#### 📊 Stats

<table style="border-collapse: collapse">
  <tr>
    <td><img alt="Profile Stats" src="https://github-readme-stats.vercel.app/api?username=blackphantom39&show_icons=true&bg_color=270,373B44,4286f4&title_color=fff&text_color=fff"/></td>
    <td><img alt="language Stats" src="https://github-readme-stats.vercel.app/api/top-langs/?username=blackphantom39&layout=compact&bg_color=270,373B44,4286f4&title_color=fff&text_color=fff"/></td>
  </tr>
</table>

<details>
<summary style="font-size: 0.75em">🔗 Sources</summary>
<ul>
  <li><a href="https://www.sithcomputers.com/wp-content/uploads/2021/02/11th-and-12th-cs-1.gif">Used GIF</a></li>
</ul>
</details>

------------
<p align="center">This <i>README</i> file is generated <b>every 6 hours</b>!</br>Last refresh: {{refresh_date}}<br />
<p align="center"><img src="https://github.com/blackphantom39/blackphantom39/workflows/Build%20README/badge.svg" /></p>
